<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="/project"></script>
  <script>

    // Time limit for the bid responses to be returned.
    var BID_TIMEOUT = 1000;

    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];

    // Object that will contain all the ready flags from the SSP's and the slots.
    var gptManager = {
      aolReady: false,
      slots: {}
    };


    var initAdServerSet;

    /**
     * Initiates the AdServer integration.
     *
     */
    function initAdserver() {
      if (initAdServerSet) return;
      (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
          '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);

        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1438955597722-1');
          googletag.display('div-gpt-ad-1438955597722-0');
          googletag.display('div-gpt-ad-1439394117151-0');
          googletag.display('div-gpt-ad-1439394117151-1');
        });

      })();
      initAdServerSet = true;
    }

    setTimeout(initAdserver, BID_TIMEOUT);

    // gpt slots definition
    googletag.cmd.push(function() {

      gptManager.slots['div-gpt-ad-1438955597722-1'] =
        googletag.defineSlot('/36163640/aol-hb', [[728, 90]],
        'div-gpt-ad-1438955597722-1').addService(googletag.pubads());

      gptManager.slots['div-gpt-ad-1438955597722-0'] =
        googletag.defineSlot('/36163640/aol-hb', [[300, 250]],
          'div-gpt-ad-1438955597722-0').addService(googletag.pubads());

      gptManager.slots['div-gpt-ad-1439394117151-0'] =
        googletag.defineSlot('/36163640/aol-hb', [[300, 250]],
          'div-gpt-ad-1439394117151-0').addService(googletag.pubads());

      gptManager.slots['div-gpt-ad-1439394117151-1'] =
        googletag.defineSlot('/36163640/aol-hb', [[728, 90]],
          'div-gpt-ad-1439394117151-1').addService(googletag.pubads());

      googletag.pubads().enableAsyncRendering();
      googletag.enableServices();

    });
  </script>

  <script>
    var postMessageApiKey = 'adtech_pub_page::';

    window.addEventListener('message', function (msg) {
      var data = msg.data;

      if (data.match && data.match(postMessageApiKey)) {
        var key = data.split(postMessageApiKey)[1];

        window.aolhb.renderAd(key);
      }

    });

  </script>

  <script>
    /**
     * Handles each bid response that is returned.
     *
     * @param {Object} response The bid response object.
     * @param {Number} response.cpm The CPM of the bid.
     * @param {String} response.alias The alias of the bid.
     * @param {String} response.bidKey The key of the bid.
     * @param {String} response.mpAliasKey The key of the alias.
     * @param {String} response.adContainerId The id of the container associated with the bid in the DOM.
     */
    function bidResponseHandler(response) {
      var slotName = response.adContainerId;
      googletag.cmd.push(function() {
        gptManager.slots[slotName].setTargeting(response.bidderCode, response.cpm);
        gptManager.slots[slotName].setTargeting(response.aliasKey, response.alias);
      });
      googletag.cmd.push(function() {
        googletag.pubads().refresh([gptManager.slots[slotName]]);
      });
    }

    var bidRequestConfig = {
      region: 'US',
      network: '9599.1',
      bidderKey: 'aolbid',
      aliasKey: 'mpalias',
      userSyncOn: 'bidResponse',
      onBidResponse: bidResponseHandler,
      onAllBidResponses: function () {
        console.log('onAllBidResponses');
      }
    };

    var placementsConfigs = [{
      placement: 3675022,
      alias: '728x90atf',
      adContainerId: 'div-gpt-ad-1438955597722-1',
      bidfloor: '0.1'
    }, {
      placement: 3675026,
      alias: '300x250atf',
      adContainerId: 'div-gpt-ad-1438955597722-0',
      bidfloor: '0.1'
    }, {
      placement: 3675027,
      alias: "300x250btf",
      adContainerId: 'div-gpt-ad-1439394117151-0',
      bidfloor: '0.1'
    }, {
      placement: 3675024,
      alias: "728x90btf",
      adContainerId: 'div-gpt-ad-1439394117151-1',
      bidfloor: '0.1'
    }];

    window.aolhb.init(bidRequestConfig, placementsConfigs);
  </script>
</head>
<body>
  <div style="padding: 10px 10px 10px 10px; display:block">
    <div class="panel">
      <p class="alias"></p>
    </div>
    <div id="div-gpt-ad-1438955597722-1" ></div>
  </div>
  <div style="padding: 10px 10px 10px 10px; display:inline-block">
    <div class="panel">
      <p class="alias"></p>
    </div>
    <div id="div-gpt-ad-1438955597722-0" ></div>
  </div>
  <div style="padding: 10px 10px 10px 10px; display:inline-block">
    <div class="panel">
      <p class="alias"></p>
    </div>
    <div id="div-gpt-ad-1439394117151-0"></div>
  </div>
  <div style="padding: 10px 10px 10px 10px; display:block ">
    <div class="panel">
      <p class="alias"></p>
    </div>
    <div id="div-gpt-ad-1439394117151-1"></div>
  </div>
</body>
</html>
